main .counter {
  .container {
    width: 1200px;
    height: 774.17px;
    margin-top: 77.19px;

    .content {
      > .title {
        height: 84px;
        width: 558px;
        margin: 0 auto;

        h3 {
          text-align: center;
          font-family: Inter;
          font-size: 31.667px;
          font-style: normal;
          font-weight: 800;
          line-height: 131.523%;
        }
      }
      .desc {
        width: 643.333px;
        height: 44.167px;
        margin: 0 auto;
        margin-top: 24.33px;

        p {
          text-align: center;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 20.417px;
        }
      }
    }

    .row-top {
      width: 1200px;
      height: 596.667px;
      display: flex;
      color: $textColor;
      justify-content: center;
      align-items: center;
      gap: 21.67px;
      .item-1,
      .item-2,
      .item-3 {
        display: flex;
        flex-direction: column;
        .icon {
          width: 83.333px;
          height: 83.333px;
          background-color: #fff0e7;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          margin: 33.33px 0 23.33px 33px;
        }
        .title {
          font-family: Inter;
          font-size: 43.333px;
          font-weight: 800;

          margin: 0 0 24.67px 35px;
        }
        .sub-title {
          font-family: Inter;
          font-size: 20px;
          font-weight: 400;
          line-height: 30.833px;
          margin-left: 33.33px;
        }
      }
      .item-1,
      .item-3 {
        width: 294.167px;
        height: 337.5px;
        flex-shrink: 0;
        border-radius: 3.333px;
        background: #fff;
        box-shadow: -5.8333330154418945px 8.333333015441895px 72.5px 0px
          rgba(54, 54, 54, 0.12);
        display: flex;
        flex-direction: column;
      }
      .item-2 {
        width: 342.5px;
        height: 392.5px;
        border-radius: 3.333px;
        background: #fff;
        box-shadow: -5.8333330154418945px 8.333333015441895px 72.5px 0px
          rgba(54, 54, 54, 0.12);
        .icon {
          margin: 61px 0 23.33px 33px;
          background-color: #f2ffec;
        }
      }
      .item-1 {
        position: relative;
        &::before {
          content: "";
          width: 235px;
          height: 235px;
          background-color: #dcffca;
          border-radius: 99%;
          position: absolute;
          top: -70%;
          left: -40%;
          z-index: -1;
          transform: translateY(50%);
        }
      }
      .item-3 {
        position: relative;
        &::after {
          content: "";
          width: 235px;
          height: 235px;
          background-color: #ffd5bd;
          border-radius: 99%;
          position: absolute;
          bottom: -40%;
          right: 0%;
          z-index: -1;
          transform: translateX(50%);
        }
      }
    }

    .product {
      .header-product {
        font-size: 31.667px;
        text-align: center;
        font-weight: 800;
        margin-bottom: 50px;
      }
      .row {
        gap: 83.38px;
        display: flex;
        color: $textColor;
        justify-content: center;
        align-items: center;

        .item-2,
        .item-5 {
          .group {
            .image {
              background: #c5ffa8;
            }
          }
        }

        .group {
          width: 269.316px;
          height: auto;
          display: flex;

          flex-direction: column;

          align-items: center;

          .image {
            position: relative;
            background: #ffba94;
            width: 269.316px;
            height: 269.316px;
            border-radius: 99%;
            margin-bottom: 103.67px;

            img {
              // width: 240.117px;
              // height: 241.148px;
              position: absolute;
              bottom: -50%;
              transform: translateY(-20%);
            }
          }
          .title {
            display: inline-block;
            text-align: center;
            margin: 0 auto;
            //  position: absolute;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-wrap: nowrap;
            position: relative;
            margin-bottom: 30px;
            &:hover {
              color: #46b20f;
            }
            .line {
              position: absolute;
              // bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              width: 40.833px;
              height: 2px;
              background-color: #656565;
              margin-top: 13px;
            }
          }

          .sub-title {
            text-align: center;
            span:nth-child(1) {
              display: block;
              color: #656565;
              font-size: 16.667px;
              font-weight: 400;
            }

            span:nth-child(2) {
              display: flex;
              align-items: baseline;
              font-size: 16.667px;
              margin-bottom: 31px;
              font-weight: 400;
              line-height: 21.667px;
              .price {
                font-size: 23.333px;
                font-weight: 600;
                line-height: 26.667px;
              }
            }
          }
          .btn-link {
            padding: 13.333px 11.667px;
            background-color: #46b20f;
            border-radius: 6.667px;
            margin-bottom: 128px;
            span {
              color: #fff;
              text-align: center;

              font-family: Inter;
              font-size: 20px;

              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991.98px) {
  .counter {
    .container {
      .content {
        margin: 0 auto;
      }
      .row-top {
        margin: 400px 0;
        flex-direction: column;
        // background-color: #C5FFA8;

        .item-1 {
          &::before {
            display: none;
          }
        }
        .item-3 {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
