* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.title {
  padding: 20px;
}
.quantity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .box-quantity {
    background-color: #334156;
    width: 800px;
    height: 600px;
    .title {
      color: #ffffff;
      text-align: center;
    }
    .quantity-List {
      display: flex;
      justify-content: center;
      padding: 30px;

      ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 cột với tỷ lệ tự động */
        gap: 20px; /* Khoảng cách giữa các cột */
        list-style-type: none;

        li {
          background-color: #fff;
          border-radius: 5px;
          padding: 10px;
          img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
          }

          .nameProduct {
            font-size: 16px;
            color: #000000;
            height: 42px;
          }

          .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .price {
              font-size: 14px;
              color: red;
            }

            .cta {
              background-color: rgb(10, 171, 10);
              color: white;
              padding: 3px 9px;
              border-radius: 5px;
              cursor: pointer;
              transition: background-color 0.3s ease;

              &:hover {
                background-color: darkgreen;
              }
            }
          }
        }
      }
    }
  }
}
